* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

/* Too Fix */
body {
    /* font-family: 'Lato'; */
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    background-color: #F4D504;
    position: fixed;
    top: 0;
    width: 100%;
}

nav img {
    max-width: 6rem;
}

/* to offset nav */
.main {
    margin: 7rem 2rem 2rem;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5rem 0 .5rem 1rem;
    text-decoration: none;
}

.logo img {
  max-width: 40px;
  margin: .5rem .5rem .5rem 0;
}

.logo h1 {
  color: black;
  margin: 0;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.view .jobs {
  grid-template-columns: 1fr;
}

.job {
  border-radius: 10px;
  background-color: lightgray;
  padding: 2rem;
}

.job img {
    max-width: 236px;
    height: 10rem;
    display: block;
    margin: auto;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Dropdown Button */
.menubtn {
    padding: 0.5rem;
    max-height: 100%;
    width: 3rem;
    background-color: #F4D504;
  }

.shrink-menu {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 2rem;
}

  /* The container <div> - needed to position the dropdown content */
  .menu {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .menu-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    right: 0;
  }
  
  /* Links inside the dropdown */
  .menu-content button {
    color: black;
    padding: 1rem 2rem;
    display: block;
    margin: 0 auto;
    border: none;
    width: 100%;
    font-size: 1rem;
  }
  
  /* Change color of dropdown links on hover */
  .menu-content button:hover {
    background-color: #ddd;
}
  
  /* Show the dropdown menu on hover */
  .menu:hover .menu-content {
    display: block;
}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  /* .menu:hover .menubtn {
    background-color: grey;
} */

#hidden {
  display: none;
}

.intro {
  text-align: center;
  margin-bottom: 2rem;
}

.controls {
  display: flex;
  justify-content: space-around;
}

.enter-info input, select {
  margin-right: 100%;
  margin-bottom: 1rem;
}