* {
    box-sizing: border-box;
    border: 1px solid red;
}

/* Too Fix */
/* body {
    font-family: 'Lato';
    background-color: #F4D504;
} */

nav {
    display: flex;
}

nav img {
    max-width: 7rem;
}

.jobs {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1.25rem;
    margin-top: 1.5rem;
}

.job img {
    max-width: 100%;
    height: 10rem;
}

.overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}