<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <section class="logo">
            <img src="/static/images/CareerHive-logos.jpeg" alt="">
            <h1>CareerHive</h1>
        </section>

        {% if current_user %}
        <form action="/">
            <button>Home</button>
        </form>

        <form action="/sessions/delete" method="POST">
            <button>Log out</button>
        </form>
        
        <form action="/jobs/new">
            <button>Add job</button>
        </form>

        <form action="/jobs/stored?stored=applied" method="POST">
            <button>View applied</button>
        </form>

        <form action="/jobs/stored?stored=saved" method="POST">
            <button>View saved</button>
        </form>

        <form action="/jobs/stored?stored=viewed" method="POST">
            <button>View history</button>
        </form>

        <form action="/jobs/stored?stored=reported" method="POST">
            <button>View reported</button>
        </form>

        {% else %}
        <section class="access">
            <form action="/users/new">
                <button>Sign up</button>
            </form>

            <form action="/sessions/new">
                <button>Log in</button>
            </form>

            <form action="/sessions/guest">
                <button>Continue as guest</button>
            </form>
        </section>
        {% endif %}

    </nav>
    {% block content %}
    {% endblock %}
</body>

</html>