<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>
    <nav>
        <section>
            <a href="/" class="logo">
                <img src="/static/images/logo/logo.png" alt="" class="logo-image">
                <h1>StingSearch</h1>
            </a>
        </section>

        <section class="menu">
            <section class="shrink-menu">
                <img src="/static/images/logo/Hamburger_icon.png" alt="menu button" class="menubtn">
            </section>
            
            <section class="menu-content">
                {% if current_user %}
                <form action="/">
                    <button>Home</button>
                </form>
                
                <form action="/jobs/new">
                    <button>Post Job</button>
                </form>
    
                <form action="/jobs/stored?stored=applied" method="POST">
                    <button>Applied</button>
                </form>
    
                <form action="/jobs/stored?stored=saved" method="POST">
                    <button>Saved</button>
                </form>
    
                <form action="/jobs/stored?stored=viewed" method="POST">
                    <button>History</button>
                </form>
    
                <form action="/jobs/stored?stored=reported" method="POST">
                    <button>Reported</button>
                </form>

                <form action="/sessions/delete" method="POST">
                    <button>Log out</button>
                </form>
    
                {% else %}
                
                <form action="/users/new">
                    <button>Sign up</button>
                </form>
    
                <form action="/sessions/new">
                    <button>Log in</button>
                </form>
    
                <form action="/sessions/guest">
                    <button>Continue as guest</button>
                </form>
                {% endif %}
            </section>
        </section>
    </nav>

    <div class="main">
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>