{% extends 'base.html' %}

{% block content %}
<h1>Edit job listing</h1>
{% if view_mode == 'True' %}
<form action="/jobs/{{ job['id'] }}?view=True" method="POST">
{% else %}
<form action="/jobs/{{ job['id'] }}" method="POST">
{% endif %}
    <label for="">Logo URL:</label>
    <input type="text" name="logo" value="{{ job['logo'] }}">

    <label for="">Job Title:</label>
    <input type="text" name="title" value="{{ job['title'] }}">

    <label for="">Salary:</label>
    <input type="text" name="salary" value="{{ job['salary'] }}">

    <label for="">Company:</label>
    <input type="text" name="name" value="{{ job['name'] }}">

    <label for="">Job Type (true or false):</label>
    <input type="text" name="fulltime" value="{{ job['fulltime'] }}">

    <label for="">City:</label>
    <input type="text" name="city" value="{{ job['city'] }}">

    <label for="">Zipcode:</label>
    <input type="text" name="zipcode" value="{{ job['zipcode'] }}">

    <label for="">Country:</label>
    <input type="text" name="country" value="{{ job['country'] }}">

    <label for="">Contact:</label>
    <input type="text" name="author" value="{{ job['author'] }}">

    <label for="">Description:</label>
    <input type="text" name="content" value="{{ job['content'] }}">

    <button>Edit job listing</button>
</form>
{% endblock %}