{% extends 'base.html' %}

{% block content %}
<h1>Edit job listing</h1>
{% if view_mode == 'True' %}
<form action="/jobs/{{ job['id'] }}?view=True" method="POST">
{% else %}
<form action="/jobs/{{ job['id'] }}" method="POST">
{% endif %}
    <label for="">Logo URL:</label>
    <input type="text" name="logo" value="{{ job['logo'] }}">

    <label for="">Job Title:</label>
    <input type="text" name="title" value="{{ job['title'] }}">

    <label for="">Salary:</label>
    <input type="number" name="salary" value="{{ job['salary'] }}">

    <label for="">Company:</label>
    <input type="text" name="company" value="{{ job['company'] }}">

    <label for="employment_type">Employment Type:</label>
    <select name="employment_type" id="employment_type">
        {% if job['employment_type'] == 'true' %}
        <option value="true">Full-time</option>
        <option value="false">Part-time</option>
        {% else %}
        <option value="false">Part-time</option>
        <option value="true">Full-time</option>
        {% endif %}
    </select>

    <label for="">City:</label>
    <input type="text" name="city" value="{{ job['city'] }}">

    <label for="">Zipcode:</label>
    <input type="text" name="zipcode" value="{{ job['zipcode'] }}">

    <label for="">Country:</label>
    <input type="text" name="country" value="{{ job['country'] }}">

    <label for="">Contact:</label>
    <input type="text" name="contact" value="{{ job['contact'] }}">

    <label for="description">Description:</label>
    <textarea name="description" id="description" cols="50" rows="10">{{ job['content'] }}</textarea>

    <button>Edit job listing</button>
</form>
{% endblock %}