{% extends 'base.html' %}

{% block content %}
<header>
    <h1>CareerHive</h1>
    {% if current_user %}
    <h3>Welcome to CareerHive {{ current_user['first_name'] }}</h3>

    <section class="controls">
        <form action="/sessions/delete" method="POST">
            <button>Log out</button>
        </form>

        <form action="/jobs/new">
            <button>Add job</button>
        </form>

        <form action="/jobs/stored?stored=applied" method="POST">
            <button>View applied</button>
        </form>

        <form action="/jobs/stored?stored=saved" method="POST">
            <button>View saved</button>
        </form>

        <form action="/jobs/stored?stored=viewed" method="POST">
            <button>View history</button>
        </form>

        <form action="/jobs/stored?stored=reported" method="POST">
            <button>View reported</button>
        </form>
    </section>

    <section class="search">
        <form action="/jobs/search" method="POST">
            <label for="search">Search by:</label>
            <select name="dropdown" id="search">
                <option value="title">Job Title</option>
                <option value="name">Company</option>
                <option value="fulltime">Fulltime</option>
                <option value="city">City</option>
                <option value="country">Country</option>
            </select>
            <input type="text" name="input">
            <button>Search</button>
        </form>
    </section>
</header>

<main class="jobs">
    {% for job in jobs %}
    <section class="job">
        <img src="{{ job['logo'] }}" alt="">
        <h2><a href="/jobs/{{ job['id'] }}/view">{{ job['title'] }}</a></h2>
        <h3>${{ job['salary'] }}</h3>
        <p>Company: {{ job['name'] }}</p>
        {% if job['fulltime'] == 'true' %}
        <p>Employment type: Full-time</p>
        {% else %}
        <p>Employment type: Part-time/ Casual</p>
        {% endif %}
        <p>Location: {{ job['city'] }} ({{ job['zipcode'] }}), {{ job['country'] }}</p>
        <p>Contact: {{ job['author'] }}</p>
        <p class="overflow">Job description: {{ job['content'] }}</p>
        <p>Date posted: {{ job['date'] }}</p>
    </section>

    <section class="controls">
        <form action="/jobs/{{ job['id'] }}/view">
            <button>View</button>
        </form>

        {% if current_user['id'] == job['user_id'] %}
        <form action="/jobs/{{ job['id'] }}/edit">
            <button>Edit</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/delete" method="POST">
            <button>Delete</button>
        </form>

        {% else %}

        <form action="/jobs/{{ job['id'] }}/apply" method="POST">
            <button>Apply</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/save" method="POST">
            <button>Save</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/report" method="POST">
            <button>Report</button>
        </form>
        {% endif %}
    </section>
    {% endfor %}
</main>

{% else %}
<section class="access">
    <form action="/users/new">
        <button>Sign up</button>
    </form>

    <form action="/sessions/new">
        <button>Log in</button>
    </form>
</section>

{% for job in jobs %}
<section class="job">
    <img src="{{ job['logo'] }}" alt="">
    <h2>{{ job['title'] }}</h2>
    <h3>${{ job['salary'] }}</h3>
    <p>Company: {{ job['name'] }}</p>
    {% if job['fulltime'] == 'true' %}
    <p>Employment type: Full-time</p>
    {% else %}
    <p>Employment type: Part-time/ Caual</p>
    {% endif %}
    <p>Location: {{ job['city'] }} ({{ job['zipcode'] }}), {{ job['country'] }}</p>
    <p>Contact: {{ job['author'] }}</p>
    <p class="overflow">Job description: {{ job['content'] }}</p>
    <p>Date posted: {{ job['date'] }}</p>
</section>
{% endfor %}
{% endif %}
{% endblock %}