{% extends 'base.html' %}

{% block content %}
<h1>Add job listing</h1>
<form action="/jobs" method="POST" class="enter-info">
    <label for="">Logo URL:</label>
    <input type="text" name="logo">

    <label for="">Job Title:</label>
    <input type="text" name="title">

    <label for="">Salary:</label>
    <input type="number" name="salary">

    <label for="">Company:</label>
    <input type="text" name="company">

    <label for="employment_type">Employment Type:</label>
    <select name="employment_type" id="employment_type">
        <option value="full-time">Full-time</option>
        <option value="part-time">Part-time</option>
        <option value="casual">Casual</option>
        <option value="contract">Contract</option>
        <option value="internship">Internship</option>
        <option value="other">Other</option>
    </select>

    <label for="">City:</label>
    <input type="text" name="city">

    <label for="">Zipcode:</label>
    <input type="text" name="zipcode">

    <label for="">Country:</label>
    <input type="text" name="country">

    <label for="">Contact:</label>
    <input type="text" name="contact">

    <label for="description">Description:</label>
    <textarea name="description" id="description" cols="50" rows="10"></textarea>

    <button>Add job listing</button>
</form>
{% endblock %}