{% extends 'base.html' %}

{% block content %}
<h1>Add job listing</h1>
<form action="/jobs" method="POST">
    <label for="">Logo URL:</label>
    <input type="text" name="logo">

    <label for="">Job Title:</label>
    <input type="text" name="title">

    <label for="">Salary:</label>
    <input type="text" name="salary">

    <label for="">Company:</label>
    <input type="text" name="name">

    <label for="">Job Type (true/false):</label>
    <input type="text" name="fulltime">

    <label for="">City:</label>
    <input type="text" name="city">

    <label for="">Zipcode:</label>
    <input type="text" name="zipcode">

    <label for="">Country:</label>
    <input type="text" name="country">

    <label for="">Contact:</label>
    <input type="text" name="author">

    <label for="">Description:</label>
    <input type="text" name="content">

    <button>Add job listing</button>
</form>
{% endblock %}