{% extends 'base.html' %}

{% block content %}
{% if stored_type == 'applied' %}
<h1>Applied Jobs</h1>
{% elif stored_type == 'saved' %}
<h1>Saved Jobs</h1>
{% elif stored_type == 'viewed' %}
<h1>View history</h1>
{% elif stored_type == 'reported' %}
<h1>Reported Jobs</h1>
{% endif %}

<main class="jobs">
    {% for job in jobs %}
    <section class="job">
        <img src="{{ job['logo'] }}" alt="">
        <h2>{{ job['title'] }}</h2>
        <h3>${{ job['salary'] }}</h3>
        <p>Company: {{ job['name'] }}</p>
        {% if job['fulltime'] == 'true' %}
        <p>Employment type: Full-time</p>
        {% else %}
        <p>Employment type: Part-time</p>
        {% endif %}
        <p>Location: {{ job['city'] }} ({{ job['zipcode'] }}), {{ job['country'] }}</p>
        <p>Contact: {{ job['author'] }}</p>
        <p class="overflow">Job description: {{ job['content'] }}</p>
        <p>Date posted: {{ job['date'] }}</p>
    </section>

    <section class="controls">

        <form action="/jobs/{{ job['id'] }}/view">
            <button>View</button>
        </form>

        {% if stored_type == 'applied' %}
    
        <form action="/jobs/{{ job['id'] }}/save" method="POST">
            <button>Save</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/report" method="POST">
            <button>Report</button>
        </form>
        
        {% elif stored_type == 'saved' %}
        <form action="/jobs/{{ job['id'] }}/apply" method="POST">
            <button>Apply</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/report" method="POST">
            <button>Report</button>
        </form>
        
        {% elif stored_type == 'viewed' %}
        <form action="/jobs/{{ job['id'] }}/apply" method="POST">
            <button>Apply</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/save" method="POST">
            <button>Save</button>
        </form>

        <form action="/jobs/{{ job['id'] }}/report" method="POST">
            <button>Report</button>
        </form>
        {% endif %}
    </section>
    {% endfor %}
</main>
{% endblock %}